/*viewport*/
.jsplash-viewport {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(255, 255, 255, 0);
    opacity: 0;
    z-index: 9999;
    transition: opacity 80ms ease-out;
}

.jsplash-blured {
    -webkit-filter: blur(4px);
    -moz-filter: blur(4px);
    -ms-filter: blur(4px);
    -o-filter: blur(4px);
    filter: blur(4px);
}

/*viewport in visible state*/
.jsplash-viewport.jsplash-visible {
    opacity: 1;
    transition: opacity 100ms ease-out;
}

.jsplash-closebtn {
    position: absolute;
    cursor: pointer;
    z-index: 100;
    font: normal normal normal 14px/1 FontAwesome;
    border-radius: 100%;
    color: #494949;
    text-align: center;
    padding: 0;
    top: 0px;
    right: 0px;
    width: 32px;
    height: 32px;
    font-size: 16px;
    line-height: 32px;
}

.jsplash-closebtn:before {
    content: "\f00d";
}

/*splash window*/
.jsplash-wrapper {
    background-color: #221f26;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15), 0 8px 19px -7px rgba(0, 0, 0, 0.19), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    border-radius: 1px;
    padding: 20px;
    position: fixed;
    left: 50%;
    top: 50%;
    color: #ffffff;
    transform: translate(-50%, -50%);
}

/*splash window*/
.jsplash-inner {
    position: relative;
    max-width: 400px;
    height: 100%;
    overflow: auto;
    text-align: center;
}

/*fullscreen mode*/
.jsplash-wrapper.jsplash-fullscreen {
    width: 100%;
    height: 100%;
    padding: 0;
    overflow-y: auto;
}

.jsplash-fullscreen .jsplash-inner {
    padding: 0 12px;
    max-width: 100%;
    height: 100%;
    overflow: auto;
}
